//Colors
$top_bg_color: #5e6060;
$mid_bg_color: #f7fafc;
$bot_bg_color: #eceff1;

$all_red: #ff3838;
$all_white: #fff;
$timer_color: $all_white;
$labe_span_color: $all_red;
$product_bg_color: $all_white;
$product_border_color: #e5e5e5;
$product_name_color: #333333;
$product_description_color: #666666;
$old_price_color: #333333;
$price_color: $all_red;
$buy_butt_color: $all_white;
$see_more_color: #333333;
$see_more_color_hover: $all_red;
$goto_bg_color: $all_white;
$goto_bg_color_hover: #2b2b2b;

//url

$menu_bg: url(../img/sandwich.png);
$logo_bg: url(../img/landing_logo.png);
$chat_bg: url(../img/landing_chat.png);
$count_bg: url(../img/counter.png);
$slogan_bg_mid: url(../img/black_middle.png);
$slogan_bg_right: url(../img/black_right.png);
$slogan_bg_left: url(../img/black_left.png);
$top_bg_url: url(../img/background.jpg);
$labe_span: url(../img/labe.png);
$buy_butt_bg: url(../img/buy.png);
$see_more_bg: url(../img/see_more.png);
$goto_arrow: url(../img/goto_arrow.png);